
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Admin</title>
    <!-- Font Awesome -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/mvc-grid/mvc-grid.css" />
</head>
<body>
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-5">
                    <a href="/Admin/Discussions" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fab fa-discourse fa-fw me-3"></i><span>Discussions</span>
                    </a>
                    <a href="/Admin/UserList" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-user-group fa-fw me-3"></i><span>User List</span>
                    </a>
                    <a href="/Admin/UserReported" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="far fa-flag fa-fw me-3"></i><span>User Reported</span>
                    </a>
                    <a href="/Admin/Report" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-line fa-fw me-3"></i><span>Report</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="#">
                    <h2>ConvoVerse</h2>
                </a>

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                           id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                                 height="22" alt="Avatar" loading="lazy" />
                        </a>
                        <span>
                            @if (Context.Request.Cookies.TryGetValue("UserName", out string userName))
                            {
                                @userName
                            }
                            else
                            {

                            }
                        </span>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" asp-page="/Admin/Discussions" asp-page-handler="Logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <main style="margin-top: 58px;">
        <div class="container pt-4">
            @RenderBody()
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js" type="text/javascript"></script>
    <script src="~/js/mvc-grid/mvc-grid.js" type="text/javascript"></script>
    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
