@page

@*Created by Mazahar Ali*@

@model DXC.BlogConnect.WebApp.Pages.AboutUsModel
@{
    <div class="border p-3 m-4" style="font-family:Rockwell">
        <h1 style="background-color:#aabec7">About Us</h1>
        <hr />
        <div class="border p-3 m-4 team-container">
            <h3 style="background-color:whitesmoke;padding:10px">The Team</h3>
            <div>
                <li>Mala Kumari</li>
                <li>Malathi Chilukuri</li>
                <li>Malkapuram Pavithra</li>
                <li>Manasa Vaduguru</li>
                <li>Mazahar Ali Shaik</li>
                <li>Mohamad Yoosuf S</li>
                <li>Kishore George Sebastian</li>
                <li>Latika Chawla</li>
                <li>Sasmit Utkarsh</li>
                <li>Prabu Elavarasan</li>
            </div>
        
        </div>

        <div class="border p-3 m-4 tech-container">
            <h3 style="background-color:whitesmoke;padding:10px">Development Technologies/Tools</h3>
            <div>
                <li>Asp.Net Core Web API</li>
                <li>Asp.Net Core Web App (Razor Page)</li>
                <li>SQL Server</li>
                <li>Microsoft Azure</li>
                <li>Visual Studio 2022</li>
                <li>HTML / CSS</li>
                <li>Kishore George Sebastian</li>
                <li>Latika Chawla</li>
                <li>Sasmit Utkarsh</li>
                <li>Froala (WYSIWYG Editor)</li>
            </div>
        </div>
              
        
    </div>
}
