@inherits LayoutComponentBase
@inject NavigationManager navMan

<PageTitle>BlazorCARS.WebUI</PageTitle>

<div>    
    <div class=col>
        <Header></Header>
    </div>
    <div class=col>
        <br />
        <br />
    </div>
    <div class=col>
        @Body
    </div>
    <div class=col>
        <Footer></Footer>
    </div>
</div>

@code {

}
