<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <file value="C:\logs\BlazorCARS.txt" />
    <rollingStyle value="Composite" />
    <maximumFileSize value ="10MB" />
    <maxSizeRollBackups value="5" />
    <datePattern value="yyyyMMdd-HHmm" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>


<!--
Created by JAYaseelan
-->