@layout LoginLayout
@page "/confirmationForgot"

<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        max-width: 400px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .btn-custom {
        background-color: #007bff;
        color: #fff;
    }

    h3 {
        text-align: center;
    }
</style>

<div class="card-container">
    <div class="card mx-auto text-center">
        <h3>Please check your email and reset your password!!</h3>
        <a class="btn btn-custom" href="../">Back To Login</a>
    </div>
</div>

