@layout LoginLayout
@page "/confirmationReset"

<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        max-width: 400px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
    }

    .btn-custom {
        background-color: #007bff;
        color: #fff;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="card-container">
    <div class="card">
        <h3>Your password has been reset, and now you can log in with your new password!</h3>
        <a class="btn btn-custom" href="../">Click here To Login</a>
    </div>
</div>



