@layout LoginLayout
@page "/resetPassword"
@using MeetingScheduler.Data
@using MeetingScheduler.Entities;
@using Utilities;
@using Serilog;
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager
@inject ILoginService Login


<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        max-width: 400px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }
</style>

<div class="card-container">
    <div class="card mx-auto text-center">
        <div class="card-header h5 text-white bg-primary">Reset Password</div>
        <EditForm Model="@resetPasswordRequest">
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Please check your email and provide the token to reset your password!!
                </p>
            <div class="form-group">
                <input type="email" class="form-control" id="Email" placeholder="email@example.com" autocomplete="off" required @bind-value="resetPasswordRequest.Email" />
            </div>
                <br />
            <div class="form-group">
                
                <input type="password" class="form-control" id="Password" placeholder="New Password" required @bind-value="resetPasswordRequest.Password" />
            </div>
                <br />
            <div class="form-group">
               
                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" required @bind-value="resetPasswordRequest.ConfirmPassword" />
            </div>
                <br />
            <div class="form-group">
                
                <input type="text" class="form-control" id="Token" placeholder="Token" required @bind-value="resetPasswordRequest.Token" />
            </div>
            <br />
            <div class="text-center">
                <button type="button" class="btn btn-primary" @onclick="SendEmail">Submit</button>
            </div>

            <div class="text-danger">@resetMessage</div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    ResetPasswordRequest resetPasswordRequest = new ResetPasswordRequest();

    public string? resetMessage { get; set; }
    #region Messages
    private const string SEND_EMAIL_ERR_MSG = "Some Error Ocurred!!";
    #endregion

    /// <summary>
    /// Send reset padssword email
    /// </summary>
    private void SendEmail()
    {
        try
        {

            var resetResponse = Login.ResetPassword(resetPasswordRequest);
            if(resetResponse.IsSuccess)
            {
                NavigationManager.NavigateTo("/confirmationReset");
            }
            
            else
            {
                resetMessage = resetResponse.Message;
            }

        }
        catch (Exception ex)
        {
            resetMessage = SEND_EMAIL_ERR_MSG;
        }

    }

}
