USE [master]
GO
/****** Object:  Database [ImageUpload]    Script Date: 15-10-2023 15:13:58 ******/
CREATE DATABASE [ImageUpload]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ImageUpload', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ImageUpload.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ImageUpload_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ImageUpload_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ImageUpload].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ImageUpload]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 15-10-2023 15:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[Id] [bigint] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[UserLoginTime] [datetime2](7) NULL,
	[UserLogoutTime] [datetime2](7) NULL,
	[CreationDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileUpload]    Script Date: 15-10-2023 15:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUpload](
	[FileID] [bigint] NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[FileType] [varchar](30) NULL,
	[FileSize] [bigint] NULL,
	[FilePath] [nvarchar](150) NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[CreationUser] [nvarchar](50) NULL,
	[CreationDate] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15-10-2023 15:13:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Seq_No] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[EMailID] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [varchar](30) NULL,
	[CreationUser] [nvarchar](50) NULL,
	[CreationDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileUpload]  WITH CHECK ADD  CONSTRAINT [FK_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[FileUpload] CHECK CONSTRAINT [FK_UserID]
GO
USE [master]
GO
