@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Our Story</h2>
    <p>
        We use the power of technology to deliver mission critical IT that move the world.
    </p>
</div>
<div class="text-right">
    <h3>Delivering excellence for our Customers and Colleagues</h3>
    <p>DXC Technology is a Fortune 500 global IT services leader. Our more than 130,000 people in 70-plus countries are entrusted by our customers to deliver what matters most. 
        We use the power of technology to deliver mission critical IT services that drive business impact. DXC is an employer of choice with strong values, and fosters a culture of inclusion, 
        belonging and corporate citizenship. We are DXC.</p>
</div>
    <h3>What we do</h3>
    <p>
        We deliver the IT services our customers need to modernize operations and drive innovation across the entire IT estate.
        <br>
        <br />
        We provide services for business process outsourcing, analytics and engineering, applications, security, cloud, IT outsourcing and modern workplace.
    </p>

    <h3>How we work</h3>
    <p>
        Every day, we earn our customers’ trust by delivering transformative technologies to ensure the success, safety and well-being of businesses and people worldwide.
    
    <br>
    <br />
        We provide world-class IT services at scale from our Global Innovation and Delivery Centers in North America, South America, Europe, Asia and Australia. Our globally connected centers enable us to solve complex technology challenges and transform our customers’ businesses through our dedicated delivery workforce of more than 110,000 people. 
        With globally distributed teams and rich engineering skills, DXC offers competitive solutions to address customers’ cost, regulatory, language and business continuity requirements.
        <br>
        <br />
    </p>
    <p>
        We leverage the power of partnerships through our curated DXC ecosystem of technology leaders.
    </p>

