@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">

    <i class="bi bi-person"></i>
    <li class="nav-item">
        <label id="lblName" class="nav-link text-white" title="Hello @HttpContextAccessor.HttpContext.Session.GetString("UserName")"><i class="bi bi-person-circle"></i>&nbsp;Hello @HttpContextAccessor.HttpContext.Session.GetString("UserName")</label>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="UserProfile" asp-action="Logout">Logout</a>
    </li>


</ul>
