@layout LoginLayout
@page "/HealthSheild/Register"
    

<center>
    <br /><br />
    <div class="col-8 card" style="border: 1px solid rgb(0 0 0 / 50%);border-radius:0.5rem">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>        
        <div class="col-12 row">
            <div>
                <h3 style="font-weight:bold; color:purple">Register</h3>
            </div>            
                <form>                    
                    <br/>
                    <table style="border-collapse:separate;border-spacing:0.5em">
                        <tbody>
                            <tr>
                                <td>UserName : </td>
                                <td><input type="text" class="form-control" placeholder="Username" /></td>                                
                            </tr>                            
                            <tr>
                                <td>Email ID : </td>
                                <td><input type="text" class="form-control" placeholder="Email Address" /></td>
                            </tr>
                            <tr>
                                <td>Password : </td>
                                <td><input type="text" class="form-control" placeholder="Password" /></td>
                            </tr>
                            <tr>
                                <td>Confirm Password : </td>
                                <td><input type="text" class="form-control" placeholder="Confirm Password" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn btn-primary" value="Sign Up" /></td>
                            </tr>
                        </tbody>
                    </table>                    
                    <br/>                    
                </form>
            </div>
        </div>
         <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    
    <br/>    
</center>



@code {

}
